html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 80px;
  position: relative;
  display: flex;
  flex-direction: column;/* Ensure elements stack vertically */
  align-items: center;
  justify-content: flex-start;/* Align content from the top */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("bgs/seamless-3289975_1920.png") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.85;/* Less alpha for background image */
  z-index: -1;/* Make sure it's behind the content */
}

h2 {
  color: #146832;
  margin-bottom: 20px;/* Add space below the heading */
}

h3 {
  color: #146832;
  margin-bottom: 15px;
}

/* New CSS for glass panels */
.glass-panel {
  width: 90%;
  max-width: 900px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Recipe name styling */
#recipe-name {
  font-size: 1.5rem;
  color: #146832;
  margin: 0;
}

/* Missing ingredients list */
#missing-ingredients ul {
  list-style-type: none;
  padding: 0;
}

#missing-ingredients li {
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
}

/* Steps list */
#steps ol {
  padding-left: 20px;
}

#steps li {
  margin-bottom: 10px;
}